# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32
AUTH_SECRET=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID = 
GITHUB_SECRET = 

POSTGRES_HOST=localhost
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

OPENAI_API_KEY=
OPENAI_API_BASE_URL=https://api.yescale.io/v1
OPENAI_MODEL=gpt-4o

POSTMARK_API_KEY=
POSTMARK_FROM_EMAIL=noreply@sieutoc.app